POSTGRES_PROD_DB=etl_prod
POSTGRES_PROD_USER=etl_prod
POSTGRES_PROD_PASSWORD=etl_prod_password
POSTGRES_PROD_HOST=localhost
POSTGRES_PROD_PORT=5434

POSTGRES_TEST_DB=etl_test
POSTGRES_TEST_USER=etl_test
POSTGRES_TEST_PASSWORD=etl_test_password
POSTGRES_TEST_HOST=etl-cicd-db-test
POSTGRES_TEST_PORT=5432
